<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" defer></script>

    <script>
      let stripePublicKey = "<%= stripePublicKey %>";
    </script>
    <script src="js/index.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Merch</title>
  </head>
  <body>
    <h1>Welcome to Our Merch</h1>
    <div class="merch-container">
      <% for(const item of merch){ %>
      <div class="merch-card">
        <img src="<%= item.img_url %>" alt="" class="merch-img" />
        <h3 class="merch-title"><%= item.title %></h3>
        <div class="call-to-action">
          <p class="price"><%= item.price %></p>
          <button class="add-card">Add to Card</button>
        </div>
      </div>
      <% } %>
    </div>
    <section class="cart">
      <h2 class="section-header">CART</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items"></div>
      <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">
        PURCHASE
      </button>
      <div id="paypal-button"></div>
    </section>
  </body>
</html>
